In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Loading data
basics_path='title.basics (1).tsv.gz'
akas_path='title.akas.tsv.gz'
ratings_path='title.ratings.tsv.gz'
basics=pd.read_csv(basics_path,sep='\t',low_memory=False)
akas=pd.read_csv(akas_path,sep='\t',low_memory=False)
ratings=pd.read_csv(ratings_path,sep='\t',low_memory=False)

In [3]:
# Previewing data
display(basics.head(),akas.head(),ratings.head())
print(basics.info(),akas.info(),ratings.info())

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
2  tt0000003            6.5      1808
3  tt0000004            5.6       178
4  tt0000005            6.2      2607

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9808970 entries, 0 to 9808969
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 673.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35736618 entries, 0 to 35736617
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306416 entries, 0 to 1306415
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1306416 non-null  object
 1   averageRating  1306416 non-null  float64
 2   numVotes       1306416 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.9+ MB
None None None

# Preprocessing

## BASICS

In [4]:
# Replace "\N" with np.nan
basics.replace({'\\N':np.nan},inplace=True)

In [5]:
# Eliminate movies that are null for runtimeMinutes
basics = basics[basics['runtimeMinutes'].notnull()]
basics.runtimeMinutes.isnull().sum()

0

In [6]:
# Eliminate movies that are null for genre
basics = basics[basics['genres'].notnull()]
basics.genres.isnull().sum()

0

In [7]:
# keep only titleType==Movie
basics=basics[basics['titleType']=='movie']
basics.titleType.unique()

array(['movie'], dtype=object)

In [8]:
# keep startYear 2000-2022
basics['startYear']=pd.to_numeric(basics['startYear'], errors='coerce')
# basics=basics[basics['startYear'].astype('int64')]
basics=basics[basics['startYear'] > 1999]
basics=basics[basics['startYear'] < 2023]
basics.startYear.unique()

array([2021., 2001., 2020., 2018., 2022., 2005., 2002., 2009., 2017.,
       2000., 2006., 2004., 2008., 2007., 2003., 2012., 2010., 2013.,
       2011., 2015., 2016., 2014., 2019.])

In [9]:
# Eliminate movies that include "Documentary" in genre 
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]
basics.genres.unique() # making sure no values contain 'documentary'

array(['Comedy,Fantasy,Romance', 'Drama', 'Drama,War',
       'Comedy,Horror,Sci-Fi', 'Comedy,Drama,Fantasy', 'Drama,Romance',
       'Biography,Drama', 'Comedy,Mystery', 'Drama,Fantasy', 'Comedy',
       'Adventure', 'Musical,Romance', 'Action,Adventure,Drama', 'Action',
       'Crime,Thriller', 'Comedy,Fantasy', 'Action,Crime,Drama',
       'Action,Thriller', 'Comedy,Drama,Romance', 'Drama,Music,Romance',
       'Comedy,Horror,Mystery', 'Crime,Drama,Thriller', 'Comedy,Drama',
       'Action,Adventure,Animation', 'Comedy,Romance', 'Action,Comedy',
       'Drama,Thriller', 'Comedy,Drama,Sci-Fi',
       'Adventure,Family,Fantasy', 'Drama,History', 'Drama,History,War',
       'Adventure,Animation,Comedy', 'Action,Adventure,Fantasy',
       'Action,Drama,Sci-Fi', 'Biography,Drama,Romance',
       'Horror,Mystery,Thriller', 'Comedy,Drama,Thriller',
       'Animation,Family,Musical', 'Drama,Mystery,Thriller',
       'Action,Adventure,Thriller', 'Action,Horror,Sci-Fi',
       'Action,Adventure,Sci-Fi', 'Action,Adventure,Comedy',
       'Animation,Drama,Family', 'Comedy,Family', 'Comedy,Crime',
       'Comedy,Crime,Romance', 'Drama,Mystery,Romance',
       'Crime,Mystery,Thriller', 'Horror', 'Action,Crime',
       'Adventure,Animation,Drama', 'Action,Crime,Sci-Fi',
       'Action,Drama,Sport', 'Thriller', 'Action,Crime,Fantasy',
       'Fantasy', 'Adventure,Animation,Family', 'Horror,Mystery',
       'Comedy,Drama,Music', 'Horror,Sci-Fi,Thriller',
       'Drama,Family,Western', 'Animation,Comedy,Sci-Fi', 'Adult',
       'Crime,Drama', 'Crime,Drama,Romance', 'Drama,Music',
       'Biography,Comedy,Drama', 'Action,War', 'Action,Drama',
       'Crime,Drama,Horror', 'Crime,Fantasy,Mystery', 'Biography',
       'Comedy,Romance,Sci-Fi', 'Adventure,Comedy,Crime',
       'Drama,History,Thriller', 'Drama,Fantasy,Sport',
       'Comedy,Crime,Drama', 'Drama,Romance,Western',
       'Action,Drama,Musical', 'Adult,Crime,Mystery',
       'Biography,Crime,Drama', 'Comedy,Horror', 'Comedy,Drama,Family',
       'Comedy,Sci-Fi', 'Horror,Thriller', 'Comedy,Family,Romance',
       'Action,Drama,Thriller', 'Adventure,Drama,Romance',
       'Action,Adventure,Crime', 'Crime,Drama,Mystery',
       'Drama,Mystery,Sci-Fi', 'Drama,Horror,Thriller',
       'Drama,Romance,Thriller', 'Comedy,Music,Romance', 'Drama,Family',
       'Drama,Thriller,War', 'Drama,Horror,Mystery', 'Crime',
       'Biography,Drama,History', 'Action,Crime,Thriller',
       'Comedy,Crime,Mystery', 'Comedy,Thriller', 'Action,Sci-Fi',
       'Adventure,Comedy,Drama', 'Crime,Horror', 'Comedy,Family,Mystery',
       'Animation,Comedy,Fantasy', 'Fantasy,Horror',
       'Action,Romance,Thriller', 'Adventure,Biography,Drama',
       'Drama,History,Romance', 'Action,Comedy,Crime',
       'Comedy,Drama,Mystery', 'Crime,Drama,Musical',
       'Drama,Musical,Sport', 'Comedy,Family,Fantasy',
       'Action,Drama,Romance', 'Crime,Horror,Mystery',
       'Comedy,Crime,Thriller', 'Animation,Drama,History',
       'Adventure,Comedy,Family', 'Comedy,Romance,Western',
       'Biography,Drama,Music', 'Adventure,Comedy,Romance',
       'Action,Comedy,Romance', 'Crime,Sci-Fi,Thriller', 'Drama,Western',
       'Crime,Mystery', 'Action,Comedy,Sci-Fi', 'Comedy,Drama,Sport',
       'Romance,Sci-Fi', 'Action,Crime,Mystery', 'Action,Comedy,Fantasy',
       'Crime,Drama,Music', 'Comedy,Musical,Romance', 'Comedy,Music',
       'Adventure,Sci-Fi,Thriller', 'Action,Adventure,Romance',
       'Drama,Mystery', 'Animation,Comedy,Crime', 'Adventure,Family',
       'Action,Drama,History', 'Action,Mystery,Thriller',
       'Mystery,Thriller', 'Comedy,Musical', 'Drama,Sport',
       'Drama,Fantasy,Romance', 'Adventure,Comedy,Fantasy',
       'Drama,Horror', 'Family', 'Action,Drama,Fantasy',
       'Drama,Sci-Fi,Thriller', 'Drama,Music,Thriller', 'Comedy,Sport',
       'Comedy,Mystery,Romance', 'Comedy,Crime,Fantasy', 'War',
       'Action,Sci-Fi,Thriller', 'Comedy,Family,Sport',
       'Biography,Comedy', 'Animation,Comedy,Musical',
       'Crime,Horror,Thriller', 'Action,Fantasy', 'Family,Sci-Fi,Western',
       'Musical', 'Drama,Romance,Sport', 'Action,Animation',
       'Biography,History', 'Drama,Romance,War', 'Drama,Sci-Fi',
       'Adventure,Animation', 'Mystery', 'Sci-Fi',
       'Drama,Musical,Romance', 'Action,Comedy,Thriller',
       'Comedy,Romance,Sport', 'Action,Adventure', 'Comedy,Drama,History',
       'Drama,Family,Fantasy', 'Action,Comedy,Drama', 'Family,Horror',
       'Romance,Thriller', 'Animation,Biography,Drama',
       'Adventure,Animation,Sci-Fi', 'Crime,Horror,Sci-Fi',
       'Drama,Fantasy,Horror', 'Action,Fantasy,Horror', 'Fantasy,Mystery',
       'Biography,Drama,Sport', 'Comedy,Horror,Romance', 'Drama,Musical',
       'Crime,Mystery,Romance', 'Drama,Romance,Sci-Fi',
       'Fantasy,Horror,Mystery', 'Adventure,Comedy', 'Comedy,History',
       'Action,Horror,Thriller', 'Action,Drama,War', 'Romance',
       'Action,Mystery,Sci-Fi', 'Adventure,Drama',
       'Action,Animation,Drama', 'Comedy,Fantasy,Horror',
       'Crime,Drama,Fantasy', 'Animation,Family', 'Drama,Fantasy,Mystery',
       'Adventure,Drama,Family', 'Action,Comedy,Short',
       'Animation,Family,Fantasy', 'Comedy,Drama,Musical',
       'Comedy,Fantasy,Sci-Fi', 'Mystery,Romance,Sci-Fi',
       'Crime,Drama,History', 'Fantasy,Romance', 'Drama,Fantasy,Music',
       'Fantasy,Sci-Fi', 'Adventure,Comedy,Sport',
       'Crime,Romance,Thriller', 'Action,Western', 'Sci-Fi,Thriller',
       'Animation,Comedy,Drama', 'Adventure,Fantasy,Horror',
       'Animation,Comedy,Family', 'Action,Musical,Romance',
       'Family,Fantasy', 'Comedy,Drama,War', 'Comedy,Horror,Thriller',
       'Drama,War,Western', 'Horror,Mystery,Romance',
       'Biography,Drama,Musical', 'Crime,Romance',
       'Action,Adventure,Family', 'Adventure,Drama,History',
       'Comedy,Mystery,Sci-Fi', 'Animation,Drama,Fantasy',
       'Horror,Mystery,Sci-Fi', 'Comedy,Western', 'Comedy,Musical,Sci-Fi',
       'Drama,History,Music', 'Adventure,Drama,Fantasy',
       'Action,Sci-Fi,Sport', 'Animation,Crime,Drama',
       'Adventure,Fantasy,Western', 'Drama,Fantasy,Thriller',
       'Action,Horror,Mystery', 'Adventure,Family,Sci-Fi',
       'Family,Fantasy,Music', 'Action,Biography,Drama',
       'Drama,Family,History', 'Horror,Sci-Fi', 'Thriller,Western',
       'Animation', 'Fantasy,Romance,Thriller', 'Animation,Sci-Fi',
       'Comedy,Crime,Horror', 'Action,Romance', 'Adult,Sci-Fi', 'History',
       'Action,Adventure,Horror', 'Adult,Comedy,Reality-TV',
       'Action,Fantasy,Thriller', 'Fantasy,Mystery,Romance',
       'Action,History', 'Action,Fantasy,Sci-Fi', 'Drama,Music,War',
       'Drama,Family,Sport', 'Adventure,Biography,Comedy', 'Horror,War',
       'Family,Thriller', 'Adventure,Comedy,Mystery',
       'Action,Drama,Family', 'Horror,Romance', 'Drama,Fantasy,Musical',
       'Fantasy,Horror,Thriller', 'Family,Romance',
       'Drama,Horror,Romance', 'Western', 'Comedy,Drama,Horror',
       'Biography,Comedy,Crime', 'Adventure,Romance',
       'Comedy,Crime,Family', 'Comedy,Family,Sci-Fi',
       'Comedy,Mystery,Thriller', 'Action,Comedy,Family',
       'Crime,Drama,Sport', 'Drama,Family,Romance', 'Music',
       'Horror,Western', 'Action,Comedy,Horror',
       'Action,Animation,Horror', 'Action,Animation,Crime',
       'Adventure,Drama,Thriller', 'Action,Drama,Music',
       'Comedy,Family,Music', 'Adventure,Western',
       'Action,Comedy,Mystery', 'Drama,Fantasy,War',
       'Action,Adventure,Biography', 'Adventure,Fantasy',
       'Drama,Horror,Musical', 'Adult,Crime,Drama',
       'Comedy,Romance,Thriller', 'Crime,Horror,Romance',
       'Family,Mystery', 'Drama,Fantasy,Sci-Fi', 'Horror,Musical',
       'Comedy,Crime,Musical', 'Action,Drama,Mystery',
       'Mystery,Sci-Fi,Thriller', 'Mystery,Western',
       'Drama,Horror,Sci-Fi', 'Biography,Drama,Family',
       'Action,Crime,Horror', 'Biography,War', 'Action,Drama,Horror',
       'Adventure,Family,Mystery', 'Action,Animation,Comedy',
       'Drama,Musical,Mystery', 'Adult,Drama',
       'Adventure,Animation,Musical', 'Crime,Drama,War',
       'Adventure,Animation,Biography', 'Animation,Drama',
       'Adventure,Animation,Fantasy', 'Adventure,Mystery,Thriller',
       'Animation,Comedy', 'Action,Crime,Romance',
       'Biography,Crime,Horror', 'Adventure,Animation,Romance',
       'Comedy,War', 'Horror,Thriller,Western', 'Adventure,Drama,Mystery',
       'Adventure,Horror,Thriller', 'History,Musical,Romance',
       'Action,Horror', 'Comedy,Musical,Mystery', 'Action,Sport',
       'Adventure,Horror,Mystery', 'Drama,Fantasy,History',
       'Fantasy,Horror,Romance', 'Biography,Drama,Mystery',
       'Fantasy,History', 'Animation,Fantasy,History',
       'Action,Biography,Crime', 'Adult,Romance,Thriller',
       'Comedy,Fantasy,Mystery', 'Adventure,Crime,Thriller',
       'Drama,Music,Musical', 'Biography,Drama,Thriller',
       'Adventure,Horror,Sci-Fi', 'Action,Romance,Sci-Fi',
       'Comedy,Horror,Music', 'Drama,History,Musical',
       'Comedy,History,Romance', 'Action,Adventure,War',
       'Drama,History,Sport', 'Action,Family,Sci-Fi',
       'Comedy,Family,Musical', 'Musical,Sci-Fi,Thriller',
       'Action,Drama,Western', 'Action,Comedy,Musical',
       'Adventure,Thriller,Western', 'Action,Comedy,Western',
       'Adventure,Fantasy,Sci-Fi', 'Fantasy,Thriller',
       'Adventure,Romance,Thriller', 'Crime,Western',
       'Comedy,Crime,Music', 'Action,Biography,War',
       'Action,Adventure,Mystery', 'Action,Horror,Romance',
       'Action,Biography', 'Action,Fantasy,Romance',
       'Animation,Drama,Mystery', 'Drama,Family,Musical',
       'Adventure,Thriller', 'Adventure,Drama,Horror',
       'Adventure,Comedy,Thriller', 'Adventure,Comedy,Horror',
       'Comedy,Fantasy,Musical', 'Drama,Family,War',
       'Animation,Comedy,Music', 'Adult,Animation,Horror',
       'Adventure,Sci-Fi', 'Family,Music,Musical', 'Adventure,Drama,War',
       'Music,Sci-Fi', 'Animation,Horror,Sci-Fi', 'Drama,Family,Mystery',
       'Animation,Comedy,Horror', 'Crime,Drama,Family',
       'Adventure,Comedy,Music', 'Fantasy,Sci-Fi,Thriller',
       'Adventure,Crime,Drama', 'Adventure,Animation,Music',
       'Adventure,Comedy,Sci-Fi', 'Horror,Romance,Thriller',
       'Animation,Drama,Sci-Fi', 'Crime,Mystery,Sci-Fi',
       'Animation,Drama,Romance', 'Animation,Fantasy,Musical',
       'Animation,Fantasy,Sci-Fi', 'Adventure,Drama,Sci-Fi',
       'Action,Animation,Sport', 'Action,Sci-Fi,Western',
       'Family,Fantasy,Musical', 'Action,Animation,Family',
       'Crime,Musical', 'Drama,Sport,Thriller', 'Crime,Fantasy',
       'Comedy,Horror,Musical', 'Action,Animation,Sci-Fi',
       'Action,Animation,Romance', 'Fantasy,Musical,Romance',
       'Fantasy,Horror,Sci-Fi', 'Crime,Horror,Western',
       'Animation,Fantasy', 'Mystery,Romance,Thriller',
       'Comedy,Crime,Sport', 'Animation,Drama,Thriller',
       'Animation,Biography', 'Adventure,Drama,Music',
       'Family,Fantasy,Sci-Fi', 'Thriller,War', 'Action,Musical,Thriller',
       'Comedy,Fantasy,Thriller', 'Action,History,War',
       'Romance,Sci-Fi,Thriller', 'Fantasy,Western', 'Action,Romance,War',
       'Sport', 'Comedy,Family,Thriller', 'Family,Musical',
       'Mystery,Romance', 'Action,Horror,War', 'Action,Thriller,War',
       'Biography,Drama,War', 'Crime,Drama,Western',
       'Crime,Horror,Musical', 'Biography,Fantasy,History',
       'Animation,Fantasy,Horror', 'Horror,Music,Sci-Fi',
       'Biography,Comedy,Romance', 'Drama,Mystery,Short',
       'Drama,History,Horror', 'Adventure,Mystery',
       'Adventure,Family,History', 'Action,Thriller,Western',
       'Animation,Comedy,Romance', 'Action,Fantasy,Musical',
       'Drama,Music,Mystery', 'Fantasy,Horror,War',
       'Family,Fantasy,Mystery', 'History,War', 'Animation,Thriller',
       'Action,Adventure,Music', 'Adventure,Crime,Family',
       'Biography,Comedy,Horror', 'Mystery,Sci-Fi',
       'Biography,Comedy,Sci-Fi', 'Family,Western',
       'Adventure,Comedy,Western', 'Drama,Music,Sci-Fi',
       'Music,Musical,Romance', 'Adventure,Fantasy,Thriller',
       'Comedy,History,War', 'Action,Adventure,History',
       'Adventure,Biography,War', 'Comedy,Fantasy,Music',
       'Action,Comedy,War', 'Biography,Drama,Fantasy',
       'Crime,Fantasy,Horror', 'Adventure,Drama,Sport', 'Adult,Comedy',
       'Biography,Crime,Thriller', 'Music,Romance',
       'Crime,Musical,Mystery', 'Adult,Fantasy', 'Family,History',
       'Romance,Sport', 'Family,Sport', 'News',
       'Adventure,Family,Romance', 'Adventure,Family,Western',
       'Drama,History,Mystery', 'Romance,War', 'Horror,Sport,Thriller',
       'Comedy,Crime,Western', 'Comedy,Music,Musical',
       'Animation,Family,Western', 'Action,Horror,Western',
       'Action,Mystery', 'Biography,Music', 'Musical,War',
       'Action,Comedy,Sport', 'Action,Comedy,Music',
       'Adventure,Animation,Mystery', 'Comedy,Drama,Western',
       'Animation,Horror,Mystery', 'Comedy,Horror,Western',
       'Comedy,Family,Western', 'Family,Fantasy,History',
       'Comedy,Crime,Sci-Fi', 'Action,Crime,History', 'Animation,Horror',
       'Adventure,Horror', 'Action,Adventure,Western', 'Animation,Music',
       'Adventure,Crime,Mystery', 'Fantasy,Mystery,Sci-Fi',
       'Drama,Mystery,War', 'Biography,Drama,Horror', 'Animation,History',
       'Animation,Fantasy,Romance', 'Crime,Drama,Sci-Fi',
       'Action,Mystery,Romance', 'Biography,History,War', 'Action,Family',
       'Action,Crime,Musical', 'Crime,Thriller,War',
       'Adventure,Fantasy,History', 'Crime,Fantasy,Thriller',
       'Animation,Family,History', 'Horror,Musical,Sci-Fi',
       'Animation,Crime,Music', 'Animation,Crime,Mystery',
       'Adventure,Music', 'Drama,Family,Music', 'Drama,Thriller,Western',
       'Comedy,Crime,History', 'Adventure,Animation,History',
       'Adult,Romance', 'Drama,History,Sci-Fi', 'Fantasy,Sport',
       'Animation,Musical,Sport', 'Family,History,Musical',
       'Musical,Thriller', 'Adventure,History,Mystery', 'Fantasy,Musical',
       'Biography,Family', 'Reality-TV', 'Action,Fantasy,History',
       'History,Horror,Thriller', 'History,Romance,Thriller',
       'Biography,Fantasy', 'Adventure,Crime', 'Talk-Show',
       'Biography,History,Thriller', 'Animation,Sport', 'Biography,Crime',
       'Adventure,Drama,Musical', 'Crime,Family',
       'Fantasy,Mystery,Thriller', 'Adventure,Mystery,Romance',
       'Adventure,Fantasy,Mystery', 'Action,Fantasy,Western',
       'Drama,History,Western', 'Action,Music', 'Crime,Music,Romance',
       'Comedy,Fantasy,History', 'Action,Family,Fantasy',
       'Action,Sport,Thriller', 'Biography,Sport',
       'Comedy,Sci-Fi,Thriller', 'Animation,Musical,Romance',
       'Action,Animation,Fantasy', 'History,Sci-Fi',
       'Animation,Drama,War', 'Animation,Drama,Musical',
       'Animation,Crime', 'Drama,Family,Sci-Fi', 'Comedy,Horror,Sport',
       'Animation,Mystery,Sci-Fi', 'Family,Fantasy,Horror',
       'Fantasy,Horror,Musical', 'Animation,Sci-Fi,War',
       'Fantasy,Music,Musical', 'Short,Thriller', 'Adult,Drama,Romance',
       'Drama,News,Thriller', 'Adult,Animation,Drama',
       'Animation,Biography,Comedy', 'Romance,Thriller,War',
       'Adventure,Animation,Crime', 'Animation,Musical',
       'Adventure,Horror,Romance', 'Horror,Music', 'Action,Family,Sport',
       'Fantasy,Music,Mystery', 'Romance,Western', 'Adult,Comedy,Drama',
       'Adventure,Comedy,Musical', 'Comedy,Reality-TV,Romance',
       'Animation,Sci-Fi,Thriller', 'Biography,Music,Mystery',
       'Action,Biography,Comedy', 'Fantasy,History,Romance',
       'Sci-Fi,Western', 'Drama,Family,Thriller', 'Animation,Drama,Music',
       'Short', 'Adventure,History', 'Adventure,Horror,Musical',
       'Drama,Horror,Music', 'Fantasy,History,Music',
       'Crime,Family,Mystery', 'Adventure,Crime,Horror',
       'History,Thriller', 'Sci-Fi,War', 'Adventure,Fantasy,Romance',
       'Adult,Music', 'Action,Animation,Thriller', 'Adult,Comedy,Music',
       'Comedy,Mystery,Sport', 'Biography,Musical',
       'Fantasy,Music,Romance', 'Family,Romance,Sci-Fi',
       'Drama,Musical,Thriller', 'Animation,Horror,Romance',
       'Adventure,Animation,Horror', 'Action,Biography,History',
       'Animation,History,War', 'Action,Family,Romance',
       'Action,Family,Thriller', 'Action,History,Thriller',
       'History,Horror', 'Action,Crime,Sport', 'Fantasy,Music',
       'Action,Music,Musical', 'Adventure,Comedy,History',
       'Animation,Family,Romance', 'Game-Show', 'Adventure,Biography',
       'Family,Music,Romance', 'Musical,Sci-Fi', 'Drama,News',
       'Comedy,Music,Mystery', 'Horror,Thriller,War', 'Comedy,Talk-Show',
       'Comedy,Drama,Short', 'News,Talk-Show', 'Adult,Comedy,Crime',
       'History,Romance', 'Fantasy,Romance,Sci-Fi',
       'Biography,Comedy,Music', 'Drama,Musical,War',
       'Animation,Fantasy,Thriller', 'Animation,Drama,Horror',
       'Adult,Horror,Thriller', 'Adventure,Reality-TV',
       'Animation,Fantasy,Music', 'Drama,Horror,Sport',
       'Horror,Musical,Thriller', 'Music,Musical', 'Family,Music',
       'Animation,Crime,Sci-Fi', 'Crime,Romance,Sci-Fi',
       'Animation,Mystery,Thriller', 'Adventure,War',
       'Crime,Thriller,Western', 'Crime,Family,Musical',
       'Family,Musical,Romance', 'Comedy,History,Horror',
       'Biography,Crime,History', 'Animation,Family,Music',
       'History,Music', 'Action,Sci-Fi,War', 'Adult,Fantasy,Horror',
       'History,Musical,War', 'Action,Fantasy,Short',
       'Crime,Fantasy,Romance', 'Comedy,Reality-TV',
       'Adult,Drama,Reality-TV', 'Action,Adventure,Sport',
       'Drama,Horror,Western', 'Biography,Music,Musical', 'Crime,History',
       'Crime,History,Thriller', 'Adventure,Drama,Western',
       'Horror,Music,Musical', 'Adult,Thriller', 'Adult,Drama,Fantasy',
       'Comedy,Short', 'Action,Fantasy,Mystery', 'Crime,War',
       'Fantasy,Reality-TV,Romance', 'Biography,Thriller',
       'Adventure,Mystery,Sci-Fi', 'Action,Animation,Musical',
       'Reality-TV,Western', 'Animation,Fantasy,Mystery',
       'Biography,Comedy,History', 'Animation,Family,Sci-Fi',
       'Sci-Fi,Short,Thriller', 'Adult,Horror', 'Musical,Sport',
       'Family,Musical,Mystery', 'Comedy,Crime,War',
       'Family,Romance,Sport', 'Drama,Horror,War', 'Drama,Musical,Short',
       'Biography,Comedy,Mystery', 'Comedy,Music,Thriller',
       'Biography,Romance', 'Sport,Thriller', 'Music,Sport',
       'Adventure,Family,Music', 'Family,Music,Sport',
       'Animation,Drama,Sport', 'Music,News', 'Adult,Fantasy,Romance',
       'Comedy,Musical,Thriller', 'Animation,Biography,History',
       'Drama,Musical,Sci-Fi', 'Action,Crime,Family',
       'Adult,Biography,Drama', 'Adult,Comedy,Horror',
       'Animation,Comedy,War', 'Mystery,Thriller,Western',
       'Adventure,Fantasy,Musical', 'Adventure,Biography,Crime',
       'Animation,Music,Sci-Fi', 'Adult,Drama,Mystery', 'Crime,Sci-Fi',
       'Animation,Comedy,Mystery', 'Family,Sci-Fi,Sport',
       'Game-Show,Sport', 'Animation,Biography,Family', 'Family,Sci-Fi',
       'Drama,Short', 'Adventure,Horror,Western', 'Drama,Family,Horror',
       'Biography,Mystery,Sci-Fi', 'Biography,Romance,War',
       'Adult,Adventure,Comedy', 'Horror,Mystery,Western',
       'Action,History,Horror', 'History,Mystery,Thriller',
       'Adventure,Comedy,War', 'History,Mystery,Sci-Fi',
       'Action,Fantasy,War', 'Animation,Biography,Music',
       'Adventure,Biography,Thriller', 'Crime,History,Mystery',
       'Adventure,Crime,Romance', 'Animation,History,Musical',
       'Adventure,Biography,History', 'Comedy,Music,Sci-Fi',
       'Biography,Comedy,Family', 'Animation,Horror,Thriller',
       'Comedy,Musical,War', 'Drama,Fantasy,Western',
       'Biography,History,Music', 'Adult,Drama,Horror',
       'Comedy,Thriller,Western', 'Adventure,Fantasy,Music',
       'Action,Crime,Music', 'Family,Mystery,Thriller',
       'Animation,Music,Musical', 'Animation,Family,Sport',

In [10]:
# filtering out non-US movies in AKAs table before filtering Basics table
akas=akas[akas['region']=='US']

In [11]:
# Keeping only US movies using filtered AKAs table
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9808108,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
9808503,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
9808643,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9808652,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9808736,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

## AKAS

In [12]:
# Replace "\N" with np.nan
akas.replace({'\\N':np.nan},inplace=True)

In [13]:
# ## NOT SURE IF THIS IS NEEDED AS THE INSTRUCTIONS ARE UNCLEAR; LEAVING CODE COMMENTED

# # Filtering out movie ids not shared in other dataframes:
# keep=akas['titleId'].isin(basics['tconst'])
# akas=akas[keep]
# akas

## Ratings

In [14]:
# Replace "\N" with np.nan (if any)
if ~ratings.isin(['\\N']).any().any():
    print("No '\\N' values.")
else:
    ratings.replace({'\\N':np.nan},inplace=True)

No '\N' values.

In [15]:
# Keeping only US movies using filtered AKAs table
keep=ratings['tconst'].isin(akas['titleId'])
ratings=ratings[keep]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1966
1        tt0000002            5.8       263
4        tt0000005            6.2      2607
5        tt0000006            5.2       181
6        tt0000007            5.4       816
...            ...            ...       ...
1306377  tt9916200            8.1       229
1306378  tt9916204            8.1       262
1306385  tt9916348            8.1        18
1306386  tt9916362            6.4      5307
1306391  tt9916428            3.8        14

[496788 rows x 3 columns]

# Creating Data Folder

In [16]:
os.makedirs('Data/',exist_ok=True)
# confirming 
os.listdir('Data/')

[]

In [17]:
# Previewing cleaned dataframes
display(basics.head(),akas.head(),ratings.head())

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
4  tt0000005            6.2      2607
5  tt0000006            5.2       181
6  tt0000007            5.4       816

# Saving Compressed .csv.gz Files

In [18]:
## Save dataframe to Data/ folder as gzipped csvs.
basics.to_csv('Data/title_basics.csv.gz',compression='gzip',index=False) # added index=False to prevent 'Unnamed: 0' column
akas.to_csv('Data/title_akas.csv.gz',compression='gzip',index=False)
ratings.to_csv('Data/title_ratings.csv.gz',compression='gzip',index=False)

In [19]:
# Open saved file and preview again
basics = pd.read_csv('Data/title_basics.csv.gz', low_memory = False)
akas = pd.read_csv('Data/title_akas.csv.gz', low_memory = False)
ratings = pd.read_csv('Data/title_ratings.csv.gz', low_memory = False)
display(basics.head(),akas.head(),ratings.head())

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
2  tt0000005            6.2      2607
3  tt0000006            5.2       181
4  tt0000007            5.4       816

In [20]:
# summary of dataframes
display(basics.info(),akas.info(),ratings.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86561 entries, 0 to 86560
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86561 non-null  object
 1   titleType       86561 non-null  object
 2   primaryTitle    86561 non-null  object
 3   originalTitle   86561 non-null  object
 4   isAdult         86561 non-null  int64
 5   startYear       86561 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86561 non-null  int64
 8   genres          86561 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432914 entries, 0 to 1432913
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1432914 non-null  object
 1   ordering         1432914 non-null  int64
 2   title            1432914 non-null  object
 3   region           1432914 non-null  object
 4   language         3893 non-null     object
 5   types            978193 non-null   object
 6   attributes       46465 non-null    object
 7   isOriginalTitle  1431569 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 87.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496788 entries, 0 to 496787
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         496788 non-null  object
 1   averageRating  496788 non-null  float64
 2   numVotes       496788 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB

None

None

None